
html{
    background:black;
    /*background-color: #1E90FF;*/
    padding-left: 43px;
    padding-right: 43px;
}

#container {
    width:auto;
    height:auto;
    margin: 3.3em auto;
}

#header {
    background-image: url(./pict/1.png);
    height: 560px;   
    padding-top: 10px;
    margin-bottom: 26px;
    
}

#header ul.nav{
    float:right;
    color:black;
    padding-right: 100px;
}
#header h4 a{
    float:left;
    padding-left: 100px;
    color:white;
    font-size-adjust: auto;
    font-size: 20px;
    font-family: fantasy;
    text-decoration:none;
    
}
.nav-pills li a{
    color:white;
    font-family: fantasy;
}

#header .bg {
    margin-top: -65px;
    height:300px;
    background:rgba(0,0,0,0.4);
}

.bg .a h1{
    margin-top: 200px;
    padding-top: 70px;
    font-size:80px;
    font-size-adjust: auto;
    color:white;
    font-weight: 100;
    text-align:center;
}
.bg .a p a{
    margin-top: 190px;
    font-size:20px;
    font-size-adjust: auto;
    color:white;
    font-weight: 300;
    text-align:center;
    margin-left: 480px;
    text-decoration:none;
}

.one{
    height: 380px;   
    padding-top: 10px;   
}

.b h1{
    margin-top: 90px;
    font-size:40px;
    font-size-adjust: auto;
    padding: 10px 10px 10px 10px;
    color:black;
    font-weight: 100;
    text-align:center;
}
.b p {
    margin-top: 0px;
    font-size:14px;
    font-size-adjust: auto;
    padding: 10px 10px 10px 10px;
    text-align:center;
}
.b p a{
    color:black;
}
.two {
    height: 530px;   
    padding-top: 0px;
    background-color:#222;
}
.two .p{
    padding-left: 120px;
    padding-top: 20px;
    margin-top: 100px;
}
.two h3{
    margin-top: 60px;
    font-size:30px;
    font-size-adjust: auto;
    padding:40px 10px 10px 10px;
    color:white;
    font-weight: 100;
    text-align:center;
}

.two .thumbnail {
 width: 200px; 
 height: 200px; 
 background-color:; 
 border-radius: 100px;
}
.h .thumbnail{
    background-image:  url(./pict/2.png);
}
.l .thumbnail{
    background-image:  url(./pict/3.png);
}
.m .thumbnail{
    background-image:  url(./pict/4.png);
}

.three{
    height: 540px;   
    padding: 10px;
    /*margin-bottom: 30px;*/
}
.three .c{
    margin-top: 70px;
    font-size:24px;
    font-size-adjust: auto;
    padding: 10px 10px 10px 10px;
    color:black;
    font-weight: 100;
    text-align:center; 
}
.three p{
    font-size:14px;
    font-weight: 400;
    margin-top: 30px;
}
.three p span{
    color:grey;
    
}
#footer{
    height: 20px; 
    padding-top: 
    /*margin-bottom: 30px;*/
}
#footer .d h3{
    padding-top: 1px;
    font-size: 15px;
    text-align:center; 
    font-family: fantasy;
    
}
/*#four{
    height: 380px;   
    margin-bottom: 30px;
    border:solid 5px; 
    background-color: black;
}

.q .thumbnail{
    margin-left: 100px;
    margin-top: 40px;
    height:300px;
    width: 400px;
    background-image: url(7.png)
}

.z .thumbnail{
    margin-right: 300px;
    margin-top: 40px;
    height:300px;
    width: 400px;
    background-image: url(8.png)
    
}
.z .thumbnail h2,p{
    color:black;
}
*/

